/*
.mycol {
    display: flex;
    justify-content: space-around;
}
*/
/*
.mycol div {
    background-color: red;
    border: 2px solid gray;
    width: 50px;
    height: 100px;
}
*/
.grid {
  margin: 30px auto;
}

.grid .item {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.grid .item .content {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid gray;
}

.grid .item .content.selected {
  background-color: blue;
}
