DirectoryIndex index.php index.html index.htm
Options -Indexes +Includes
AddType text/html shtml
AddHandler server-parsed shtml
AuthUserFile /home/gyokuweb/www/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow
